<!DOCTYPE html>
<html>
<head>
    <title>Toss - Hand Cricket</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Toss</h1>
  <form method="post">
    <label>Odd or Even:
      <select name="odd_even">
        <option value="odd">Odd</option>
        <option value="even">Even</option>
      </select>
    </label><br><br>
    <label>Your number (0–10):<input type="number" name="user_num" min="0" max="10"></label><br><br>
    <button type="submit">Toss</button>
  </form>
</body>
</html>
